.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #f4f4f5;
  border: 4px solid #f4f4f5;
  height: 3rem;
  border-radius: 6px;
  cursor: pointer;

  .firstItem,
  .secondItem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    gap: 0.4rem;
  }
}

.selected {
  background-color: #fff;
}
