@use 'src/styles/variables' as v;

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titleText {
	margin: v.$spacing-2;
	width: 100%;
	font-size: 1.6em;
	font-weight: bold;
}

.ratingInfoBoxContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
