@use 'src/styles/variables' as v;

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.titleText {
	margin: v.$spacing-2 v.$spacing-2 v.$spacing-1 v.$spacing-2;
	font-size: 1.6em;
	font-weight: bold;
}

.ratingInfoBoxContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
