.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-gray-50);
  text-align: center;
  padding: 4rem 0;
}

.container {
  width: 420px;

  .logoImg {
    width: 22rem;
    height: auto;
    margin-bottom: 2rem;
  }

  > h1 {
    font-size: 2.5rem;
    color: var(--color-sky-700);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  > h2 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
  }

  > p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: var(--color-gray-500);

    > a {
      color: var(--color-sky-800);
      text-decoration: none;

      &:hover {
        color: var(--color-sky-800);
      }
    }
  }
}
