.errorContainer {
  color: var(--color-red-500);
  font-size: 0.875rem;
  padding: 0.875rem;
  background-color: var(--color-red-50);
  border-radius: 0.5rem;
  border: 1px solid var(--color-red-200);
}
