.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #ffffff;
  border: 1px solid var(--color-gray-300);
  border-radius: 14px;
  padding: 1.4rem;
  gap: 1.4rem;

  .title {
    font-size: 1.4em;
    font-weight: 700;
  }

  .dataList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }
}
