.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .left {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }
  }

  .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}

.comment {
  background-color: #f9fafb;
}

.reply {
  margin-left: 3.5rem;
  width: calc(100% - 2.8rem);
  border-radius: 12px;
  padding: 0.8rem;
  position: relative;
}

.reply::before {
  content: '';
  position: absolute;
  left: -1.1rem;
  top: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  border-left: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  border-radius: 0 0 0 8px;
}
