.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 10px;

  .topArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;

    .name {
      font-size: 1.2em;
      font-weight: 600;
    }

    .nationality {
      color: var(--color-gray-600);
    }

    .postedAt {
      font-size: 0.8em;
    }
  }

  .content {
    width: 100%;
    white-space: pre-wrap;
  }
}
