.container {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .left {
    width: 65%;
  }

  .right {
    width: 35%;
  }
}
