.container {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

  .left {
    width: 65%;

    .posts {
      padding: 1.6rem 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
}
