.container {
  position: relative;
  display: inline-block;
}

.icon {
  cursor: pointer;
}

.modal {
  width: 10rem;
  position: absolute;
  top: 28px;
  right: 0;
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 0.5rem 0;
  min-width: 100px;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  button {
    background: none;
    border: none;
    padding: 0.6rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:hover {
      background: #f5f5f5;
    }

    span {
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
