.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .left {
    height: 9rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .image {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }
  }

  .right {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;

    .inputArea {
      width: 100%;

      textarea {
        width: 100%;
        min-height: 80px;
        resize: none;
        font-size: 1rem;
        padding: 0.8rem;
        border-radius: 10px;
        border: 1px solid #ddd;
        line-height: 1.5;
      }
    }
    .submitArea {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .subText {
        color: var(--color-gray-500);
        font-size: 1.2em;
        font-weight: 500;
      }

      .commentBtn {
        cursor: pointer;
        padding: 0.6rem 1rem;
        border: none;
        border-radius: 10px;
        background-color: var(--color-sky-700);
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
      }
    }
  }
}
