.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  .image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  .rightBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .personalInfo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.4rem;

      .name {
        font-size: 1.2em;
        font-weight: 600;
      }

      .nationality {
        color: var(--color-gray-600);
      }
    }
    .postedAt {
      color: var(--color-gray-600);
      font-weight: 600;
    }
  }
}
