@use 'src/styles/variables' as v;

$transition: 0.2s ease-in-out;

.container {
  width: 90%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-2;
  padding: v.$spacing-1;
  border-radius: v.$radius-medium;
  background-color: #fff;

  .inputWrapper {
    flex: 8;
  }

  .selectWrapper {
    flex: 2;
  }
}

.searchButton {
  background-color: var(--color-sky-800);
  color: #fff;
  padding: v.$spacing-2 v.$spacing-1;
  border-radius: v.$radius-small;
  border: none;
  cursor: pointer;
  transition: $transition;
  flex: 0.5;

  &:hover {
    background-color: var(--color-sky-900);
  }
}
