$transition: 0.2s ease-in-out;

.container {
  width: 90%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: #fff;

  .inputWrapper {
    flex: 8;
  }

  .selectWrapper {
    flex: 2;
  }
}

.searchButton {
  background-color: var(--color-sky-800);
  color: #fff;
  padding: 1rem 0.7rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: $transition;
  flex: 0.5;

  &:hover {
    background-color: var(--color-sky-900);
  }
}
