.profileImageWrapper {
  position: relative;
}

.profileImageContainer {
  width: 6rem;
  height: 6rem;
  border-radius: 9999px; /* rounded-full */
  overflow: hidden;
  background-color: #f3f4f6; /* bg-gray-100 */
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cameraButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem; /* p-1 */
  border-radius: 9999px;
  background-color: var(--color-sky-800);
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-sky-900);
  }
}
