@use 'src/styles/variables' as v;

.statsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: v.$spacing-2;
  text-align: center;
}

.statsItemLabel {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray-500);
}

.statsItemValue {
  margin-top: 0.25rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-gray-900);
}
