@use 'src/styles/variables' as v;

$transition: 0.2s ease-in-out;

.resumeList {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .resumeCount {
      font-size: 1rem;
      color: var(--color-gray-500);
    }

    .buttonIcon {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.5rem;
    }

    .buttonText {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.resumeItems {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;

  .resumeItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: v.$spacing-2;
    background-color: var(--color-gray-50);
    border-radius: v.$radius-medium;

    .resumeInfo {
      display: flex;
      align-items: center;
      gap: v.$spacing-2;

      .icon {
        padding: v.$spacing-1;
        background-color: var(--color-sky-100);
        border-radius: v.$radius-medium;

        svg {
          width: 1.675rem;
          height: 1.675rem;
          color: var(--color-sky-800);
        }
      }

      .text {
        h3 {
          font-size: 1.125rem;
          font-weight: 500;
          color: var(--color-gray-900);
        }

        p {
          font-size: 1rem;
          color: var(--color-gray-500);
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: v.$spacing-1;

      .status {
        padding: v.$spacing-1 v.$spacing-1;
        font-size: 0.875rem;
        border-radius: 9999px;

        &.completed {
          background-color: var(--color-green-100);
          color: var(--color-green-800);
        }

        &.inProgress {
          background-color: var(--color-yellow-100);
          color: var(--color-yellow-800);
        }
      }

      .iconButtons {
        display: flex;
        gap: v.$spacing-1;

        .iconButton {
          background: none;
          border: none;
          cursor: pointer;

          svg {
            width: 1.125rem;
            height: 1.125rem;

            &:hover {
              color: var(--color-sky-800);
              transition: $transition;
            }
          }
        }
      }
    }
  }
}
