@use 'src/styles/variables' as v;

.profileCard {
  background-color: #fff;
  border-radius: v.$radius-medium;
  box-shadow: v.$shadow-soft;
}

.profileCardBody {
  padding: v.$spacing-3;
}

.profileRow {
  display: flex;
  align-items: flex-start;
  gap: v.$spacing-3;
}

.borderTop {
  border-top: 1px solid #e5e7eb;
  padding: v.$spacing-2 v.$spacing-3;
}
