.container {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .unAuthorizedModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topArea {
    padding: 1rem 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    $transition: 0.2s ease-in-out;

    .newPostBtn {
      // width: 10%;
      min-width: 90px;
      background-color: var(--color-sky-800);
      color: #fff;
      padding: 1rem 0.7rem;
      border-radius: 0.375rem;
      border: none;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: var(--color-sky-900);
      }
    }
  }
}
