@use 'src/styles/variables' as v;

.container {
  width: 80%;
  margin: v.$spacing-4 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-2;

  .unAuthorizedModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topArea {
    padding: v.$spacing-2 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    $transition: 0.2s ease-in-out;

    .newPostBtn {
      // width: 10%;
      min-width: 90px;
      background-color: var(--color-sky-800);
      color: #fff;
      padding: v.$spacing-2 v.$spacing-1;
      border-radius: v.$radius-small;
      border: none;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: var(--color-sky-900);
      }
    }
  }
}
