@use 'src/styles/variables' as v;

.inputWrapper {
  flex: 1;
  display: flex;
}

.icon {
  background-color: var(--color-gray-100);
  width: 3rem;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: v.$radius-small 0 0 v.$radius-small;
  border: none;
}

.input {
  z-index: 5;
  width: 100%;
  padding: v.$spacing-1 v.$spacing-2 v.$spacing-1 v.$spacing-2;
  border: 1px solid var(--color-gray-200);
  border-radius: 0 v.$radius-small v.$radius-small 0;
  outline: none;

  &:focus {
    border-color: var(--color-sky-800);
    box-shadow: 0 0 0 2px rgba(var(--color-sky-800), 0.3);
  }

  &.isIcon {
    padding-left: 2.5rem;
  }
}
