@use 'src/styles/variables' as v;

.container {
  padding: v.$spacing-2 v.$spacing-3;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: v.$radius-medium;
  box-shadow: v.$shadow-card;
  gap: v.$spacing-2;
  background-color: white;
}

.companyInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-1;
  margin: v.$spacing-1;
  img {
    width: 3rem;
    height: auto;
    border-radius: v.$radius-medium;
  }
}

.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.companyName {
  font-size: 1.2em;
  font-weight: bold;
}

.companyType,
.adress,
.employeeNum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-1;
  margin: v.$spacing-1;
}
