@use 'src/styles/variables' as v;

.container {
  margin: v.$spacing-2 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: v.$spacing-4;
}
