.container {
  width: 98%;
  padding: 1.4rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.topInfo {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.region {
  padding: 0.4rem 0.6rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  font-weight: bold;
}

.empolyeeType {
  padding: 0.4rem 0.6rem;
  background-color: var(--color-sky-700);
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

.title {
  font-size: 1.6em;
  font-weight: bold;
}

.bottomInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.teamName,
.deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
