@use 'src/styles/variables' as v;

.container {
  width: 98%;
  padding: v.$spacing-3;
  border: 1px solid var(--color-gray-200);
  border-radius: v.$radius-medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: v.$spacing-2;
}

.topInfo {
  display: flex;
  flex-direction: row;
  gap: v.$spacing-1;
}

.region {
  padding: v.$spacing-1 v.$spacing-1;
  border: 1px solid var(--color-gray-200);
  border-radius: v.$radius-medium;
  font-weight: bold;
}

.empolyeeType {
  padding: v.$spacing-1 v.$spacing-1;
  background-color: var(--color-sky-700);
  border-radius: v.$radius-medium;
  color: #fff;
  font-weight: bold;
}

.title {
  font-size: 1.6em;
  font-weight: bold;
}

.bottomInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-2;
}

.teamName,
.deadline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-1;
}
