.container {
  display: flex;
  margin: 1rem;
  padding: 3rem 2rem;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;

  .topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .userInfo {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1.6em;
        font-weight: bold;
      }
    }

    .ratingInfo {
      display: flex;
      flex-direction: column;

      .score {
        font-size: 1.4em;
        font-weight: bold;
      }
    }
  }
}
