.container {
  display: flex;
  margin: 1rem;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;

  .topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .userInfo {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 2em;
        font-weight: bold;
      }

      .reviewId {
        margin-top: 0.4rem;
        padding: 0.4rem 0.8rem;
        border-radius: 10px;
        background-color: var(--color-gray-100);
        font-weight: 600;
      }
    }

    .ratingInfo {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;

      .scoreRow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
      }

      .score {
        font-size: 1.6em;
        font-weight: 800;
      }
    }
  }

  .reviewBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.6rem;

    .specificBar {
      margin: 0.8rem 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .titleBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.6rem;

        div {
          font-size: 1.2em;
          font-weight: 500;
        }
      }

      .ratingBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;

        span {
          font-weight: 800;
        }
      }
    }

    .comment {
      width: 100%;
      padding: 0.6rem 1.6rem;
      border-radius: 8px;
      background-color: var(--color-gray-50);
    }
  }
}
