@use 'src/styles/variables' as v;

.textareaWrapper {
  position: relative;
  flex: 1;
}

.icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  width: 1.25rem;
  height: 1.25rem;
}

.textarea {
  width: 100%;
  padding: v.$spacing-1 v.$spacing-2 v.$spacing-1 v.$spacing-2;
  border: 1px solid var(--color-gray-200);
  border-radius: v.$radius-small;
  background: #fff;
  transition:
    border-color 0.18s ease,
    box-shadow 0.18s ease,
    background-color 0.18s ease;
  outline: none;
  min-height: 100px;
  resize: vertical;

  &:focus {
    border-color: var(--color-sky-800);
    box-shadow: v.$shadow-focus;
  }

  &.isIcon {
    padding-left: 2.5rem;
  }
}
