@use 'src/styles/variables' as v;

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: v.$spacing-1;

  label {
    cursor: pointer;
  }
}
