@use 'src/styles/variables' as v;

$transition: 0.2s ease-in-out;

.heroSection {
  background: linear-gradient(
    to right,
    var(--color-purple-50),
    var(--color-violet-50)
  );
  padding: v.$spacing-5 0;

  @media (min-width: 768px) {
    padding: v.$spacing-5 v.$spacing-4;
  }
}

.container {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 v.$spacing-2;

  @media (min-width: 768px) {
    padding: 0 v.$spacing-3;
  }
}

.heroGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$spacing-4;
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-3;
}

.heroTitle {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  color: var(--color-gray-900);

  @media (min-width: 768px) {
    font-size: 3rem; /* text-5xl */
  }
}

.highlight {
  color: var(--color-purple-600);
}

.heroSubtitle {
  font-size: 1.25rem; /* text-lg */
  color: var(--color-gray-600);
  max-width: 28rem; /* max-w-md */
}

.heroButtons {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;
  font-size: 1.125rem;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  height: 16rem;
  border-radius: v.$radius-large;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-neutral-300);

  @media (min-width: 768px) {
    height: 24rem;
  }
}

.heroImage {
  object-fit: cover;
  border-radius: v.$radius-medium;
  box-shadow: v.$shadow-card;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: v.$spacing-1 v.$spacing-3;
  font-weight: 500;
  border-radius: v.$radius-small;
  transition: $transition;

  &.btnPrimary {
    background-color: var(--color-purple-600);
    color: #fff;
    border: none;

    &:hover {
      background-color: var(--color-purple-700);
    }
  }

  &.btnSecondary {
    background-color: #fff;
    color: var(--color-purple-600);
    border: 1px solid rgba(var(--color-purple-600), 0.2);

    &:hover {
      background-color: var(--color-purple-50);
    }
  }
}

.btnIcon {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}
