.container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  .companyAdBox {
    border: 1px solid var(--color-gray-300);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    img {
      width: 100%;
      height: 70%;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .infos {
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.2rem;

      .title {
        font-size: 1.6em;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      .companyName {
        font-weight: 400;
        font-size: 1.1rem;
      }

      .companyType {
        font-size: 0.9rem;
        color: var(--color-gray-400);
      }
    }
  }
}
