.container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  .companyAdBox {
    border: 1px solid var(--color-gray-300);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 15px;
      height: 20rem;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05); // 이미지 확대 효과
    }

    .infos {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
      color: white;
      opacity: 0;
      transform: translateY(100%);
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .companyName {
        font-weight: bold;
        font-size: 1.1rem;
      }

      .companyType {
        font-size: 0.9rem;
        color: #ccc;
      }
    }

    &:hover .infos {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
