@use 'src/styles/variables' as v;

$transition: 0.2s ease-in-out;

.categoryCard {
  background-color: #fff;
  border-radius: v.$radius-medium;
  box-shadow: v.$shadow-soft;
  padding: v.$spacing-3;
  text-align: center;
  transition: box-shadow $transition;

  &:hover {
    box-shadow: v.$shadow-card;
  }
}

.categoryIconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-purple-100);
  color: var(--color-purple-600);
  border-radius: 9999px; /* rounded-full */
  margin-bottom: 1rem;
}

.categoryName {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-gray-900);
  margin-bottom: 0.25rem;
}

.categoryCount {
  font-size: 1rem;
  color: var(--color-gray-600);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
