@use 'src/styles/variables' as v;

$transition: 0.2s ease-in-out;

.searchBox {
  background-color: #fff;
  border-radius: v.$radius-medium;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: v.$spacing-2;
}

.searchBoxRow {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.searchButton {
  background-color: var(--color-purple-600);
  color: #fff;
  padding: v.$spacing-1 v.$spacing-3;
  border-radius: v.$radius-small;
  border: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: var(--color-purple-700);
  }
}
