.container {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
  cursor: pointer;

  .numOfAlarm {
    padding: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    background-color: var(--color-red-600);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: var(--color-gray-50);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
