.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  border-bottom: 2px solid #e5e7eb;
  z-index: 10;
  background-color: #ffffff;

  @media (max-width: 1440px) {
    padding: 1rem 6rem;
  }

  @media (max-width: 1280px) {
    padding: 1rem 3rem;
  }
}

.up {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoImg {
    width: 12rem;
    height: auto;
  }

  .link {
    font-size: 2.5em;
    font-weight: 900;
    color: var(--color-purple-700);
  }

  .userBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }

  .topRight {
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .profileBox {
      width: 3rem;
      height: 3rem;
      border: 1px solid black;
      border-radius: 50%;
      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

.down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .etcBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.logo {
  font-size: 1.875rem;
  font-weight: bold;
  color: #4335a7;

  @media (max-width: 1280px) {
    font-size: 1.375rem;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;

  @media (max-width: 1280px) {
    font-size: 1rem;
    gap: 2rem;
  }
}

.active {
  color: var(--color-sky-800);
}
