.container {
  position: absolute;
  padding: 0.4rem;
  height: 15rem;
  max-height: 25rem;
  width: 25rem;
  background-color: white;
  border: 1px solid var(--color-gray-200);
  top: 3rem;
  right: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .labelBox {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem;
    border-bottom: 1px solid var(--color-gray-200);

    span {
      font-weight: 700;
    }
  }
  .recentList {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.3rem;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .recentBox {
      width: 100%;
      padding: 0.6rem;
      justify-content: space-between;
      align-items: start;
      gap: 0.6rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 700;
      }

      .subInfos {
        width: 100%;
        font-size: 0.8em;
        color: var(--color-gray-600);
        display: flex;
        gap: 1rem;
      }
    }
  }
}
