.container {
  position: absolute;
  padding: 0.4rem;
  height: auto;
  max-height: 25rem;
  width: 25rem;
  background-color: white;
  border: 1px solid var(--color-gray-200);
  top: 3rem;
  right: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .labelBox {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    padding: 0.6rem;
    border-bottom: 1px solid var(--color-gray-200);

    span {
      font-weight: 700;
    }
  }
  .recentList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .recentBox {
      width: 100%;
      padding: 0.6rem;
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 1rem;
      cursor: pointer;
    }
  }
}
