.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.8rem;

  .companyCard {
    padding: 0.4rem;
    cursor: pointer;
    border-radius: 6px;
  }

  .companyCard:hover {
    background-color: var(--color-gray-100);
  }
}
