.searchForm {
  display: flex;
  align-items: center;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  padding: 0 0.5rem;
  position: relative;

  input {
    padding: 0.5rem 1rem;
    border: #e5e7eb 1px solid;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 18rem;
    border: none;

    @media (max-width: 1280px) {
      width: 16rem;
    }

    @media (max-width: 1080px) {
      width: 14rem;
    }
  }

  @media (max-width: 1280px) {
    scale: 0.9;
  }

  @media (max-width: 1080px) {
    display: none;
  }

  .searched {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}
