.container {
  width: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .iconBox {
    background-color: var(--color-red-400);
    padding: 1rem;
    border-radius: 50%;
  }

  .title {
    font-size: 2em;
    font-weight: 700;
  }

  .text {
    font-size: 1.2em;
    color: var(--color-gray-700);
    margin-bottom: 1rem;
  }
}
