@use 'src/styles/variables' as v;

.container {
  margin: v.$spacing-4;
  padding: v.$spacing-4 v.$spacing-5;
  width: 70%;
  border-radius: v.$radius-medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-gray-200);

  .deadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: v.$spacing-2;
    .duedate {
      font-size: 3em;
      font-weight: bold;
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: v.$spacing-1;
      & > :first-child {
        font-weight: bold;
      }
    }
  }
  .applyBtn {
    background-color: var(--color-purple-700);
    padding: v.$spacing-2 v.$spacing-5;
    color: white;
    border-radius: v.$radius-medium;
    cursor: pointer;
  }
}
