.container {
  padding: 2rem 1.4rem;
  width: 100%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  .subRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .employmentType {
      padding: 0.4rem 0.8rem;
      background-color: #dcfce7;
      color: #17803d;
      border-radius: 15px;
    }
  }

  .description {
    margin: 1rem 0;
  }

  .datailInfo {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.4rem;

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
    }
  }

  .btnBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .published {
      padding: 0.6rem 1rem;
      border-radius: 15px;
      border: 1px solid var(--color-gray-200);
    }
  }
}

.scraped {
  fill: var(--color-yellow-300);
}

.icon {
  color: var(--color-purple-600);
}
