.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem;
  background-color: white;
}

@media (max-width: 950px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
