.container {
  width: 100%;
  border: 1px solid var(--color-gray-200);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .leftTab {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .userIconBox {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--color-gray-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .mainInfo {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .desiredTap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.2rem;
        }
      }
    }
  }

  .middleTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .careers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    div {
      padding: 0.4rem 0.8rem;
      border-radius: 15px;
      background-color: var(--color-purple-100);
    }
  }

  .langInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-700);
  }

  .timeInfo {
    display: flex;
    align-items: center;
    gap: 0.8em;
    color: var(--color-gray-700);
  }
}

.selected {
  border: 2px solid var(--color-purple-400);
}
