@use 'src/styles/variables' as v;

.container {
  background-color: var(--color-gray-50);
  flex: 1;
  padding: v.$spacing-2;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.pageTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-gray-900);
}

.pageDescription {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--color-gray-500);
  margin-bottom: 1.5rem;
}

.statusBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: v.$spacing-2;
}

.filterBox {
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
  border: 1px solid var(--color-gray-200);
  box-shadow: v.$shadow-soft;
  border-radius: v.$radius-medium;
  padding: v.$spacing-2;
  margin-top: 1.5rem;
}

.filterRow {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.searchWrapper {
  position: relative;
  flex: 7;
}

.searchInput {
  padding-left: 2.5rem;
}

.selects {
  flex: 5;
  display: flex;
  gap: v.$spacing-1;
}

.tabs {
  display: inline-flex;
  gap: v.$spacing-1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: v.$radius-medium;
  background-color: var(--color-indigo-50);
  padding: v.$spacing-1;
}

.applications {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-2;
}
