.container {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gray-200);
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  .resultBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;

    .label {
      font-size: 1.4em;
      font-weight: 600;
    }

    .text {
      background-color: var(--color-gray-200);
      padding: 0.4rem 0.8rem;
      border-radius: 12px;
      font-weight: 700;
    }
  }

  .sortBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;

    .label {
      font-size: 1.4em;
      font-weight: 600;
    }

    .text {
      font-size: 1.2em;
      color: var(--color-gray-400);
    }
  }

  .companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
