.scrapBtn {
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.scrapped {
  background-color: white;
  color: black;
  border: 1px solid var(--color-purple-200);
}

.notScrapped {
  background-color: var(--color-purple-500);
  color: white;
}
