.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .generatedIdBox {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-sky-100);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    .label {
      color: var(--color-gray-600);
      font-size: 1.2em;
    }

    .id {
      font-size: 1.8em;
      font-weight: 700;
      color: var(--color-sky-800);
    }
  }

  .alert {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow-50);
    font-size: 1em;
    padding: 1rem;
    color: var(--color-yellow-800);
    gap: 0.2rem;
  }
}
