.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
  }

  .subtitle {
    display: flex;
    gap: 0.4rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}
