@use 'src/styles/variables' as v;

.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: v.$spacing-3;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
