.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.infoTitle {
  margin: 1rem;
  padding: 1.4rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1.4rem;
  img {
    width: 3rem;
    height: auto;
    border-radius: 8px;
  }
}

.companyName {
  width: 80%;
  font-size: 2em;
  font-weight: bold;
}

.optionTab {
  width: 80%;
  padding: 1rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--color-gray-200);
  border-top: 1px solid var(--color-gray-200);
  div {
    cursor: pointer;
    padding: 0.9rem;
    font-weight: bold;
  }
}

.selectedOption {
  border-bottom: 2px solid var(--color-sky-800);
  color: var(--color-sky-800);
}

.selectInfo {
  width: 80%;
  margin: 1.8rem;
}
