@use 'src/styles/variables' as v;

.card {
  position: relative;
  border: 1px solid var(--color-gray-200);
  border-radius: v.$radius-medium;
  background-color: #fff;
  box-shadow: v.$shadow-card;
  padding: v.$spacing-3;
}
