.container {
  border: 3px dotted var(--color-sky-300);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;

  .title {
    font-size: 1.4em;
    color: var(--color-sky-800);
  }

  .subTitle {
    font-size: 1.2em;
    color: var(--color-gray-600);
  }

  .fileInfo {
    margin-top: 1rem;
    padding: 0.8rem;
    border-top: 1px solid var(--color-gray-200);
    font-size: 0.9rem;
    color: var(--color-gray-700);
  }
}
