.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  padding: 1rem;
  gap: 0.8rem;

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .companyName {
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 0.2rem;
      }

      .companyType {
        font-size: 1em;
        color: var(--color-gray-700);
        font-weight: 700;
        margin-bottom: 0.4rem;
      }
    }

    .ratingInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 0.4rem;

      .rateInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        span {
          font-size: 1.2em;
          font-weight: 700;
        }
      }

      .distance {
        font-size: 1.2em;
        color: var(--color-gray-600);
      }
    }
  }

  .bottomBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .status {
      font-size: 1.2em;
      border: 1px solid var(--color-gray-200);
      padding: 0.4rem 0.8rem;
      font-weight: 600;
      border-radius: 14px;
    }

    .moreInfo {
      font-size: 1.2em;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.active {
  background-color: var(--color-green-200);
  color: var(--color-green-800);
  border: none;
}
