@use 'src/styles/variables' as v;

.footer {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-4;
  padding: v.$spacing-5 v.$spacing-5;
  background-color: #ffffff;
  border-top: 2px solid #e5e7eb;
  width: 100%;
}

.links {
  display: flex;
  gap: v.$spacing-5;
  font-size: 1.25rem;
  font-weight: bold;

  @media (max-width: 1280px) {
    font-size: 1rem;
  }
}

.info {
  font-size: 1.125rem;

  @media (max-width: 1280px) {
    font-size: 0.875rem;
  }
}
